@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body {

    background-color: black ;
    margin: 0%;
    padding: 0%;
    position: relative;
    padding-bottom: 90px;
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
}


.img {
    background-color: transparent;
    height: 50px;
}

.img avatar {
    height: 100px;
}

.video {
    width: 100vw;
    min-height: 80vh;
}

ul {
    height: 25px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: fixed;
    background-color: transparent;
}

.capa{
    position: absolute;
    bottom: 10%;
    left: 5%; 
    right: 5%;
    z-index: 3;
}

.capa-título {
    color: white;
    font-size: 70px;
    margin-bottom: 10%;
    font-weight: bold;

}

.capa-descrição {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    transform: translateY(-100%)
}

.link1 {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: -150px;
    cursor: pointer;
    position: absolute;
    top: 115%;
    height: 10%;
    z-index: 10;
}

.link2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
   position: absolute;
   top: 70%;
    left: 7%;
    z-index: 10;

}

.imagem-carrossel {
    height: 150px;
}

#carouselExampleControls {
    background-color: transparent;
    position: absolute;
    bottom: -60px;
    left: 50px;
    width: 100%;
}

.titulo-carrossel {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.botao-som{
border: none;
border-radius: 5px;
cursor: pointer;
z-index: 4;
position: absolute;
top: 100px;
right: 20px;
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);

}
.modal-conteudo{
    background-color: transparent;
    margin: 30px auto;
    padding: 20px;
    width: 60%;
    color: white;
}


    
